body{
    font-family: sans-serif;
    background:white;
    margin: 0 auto;
}
.container{
    width: 700px;
    background: skyblue;
    margin:0 auto;
    padding: 16px;
    color: white;
    border: 8px solid pink;
}

.box1{
    background: forestgreen;
    height: 150px;
    margin-bottom: 16px;  
    border: 8px solid orange; 
    padding: 4px;
}

.box2{
    background: yellow;
    height: 150px;
    margin-bottom: 4px;
    border: 8px dashed; 
    padding: 4px;
}

.box3{
    background: black;
    height: 150px;
    margin-bottom: 16px;
    padding: 4px;
}

