*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: silver;
    font-family: verdana;
}

.container{
    max-width: 800px;
    background-color: white;
    padding: 8px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.box1{
    flex:1;
}
.row1{
    display: flex ;
}
.row1 > div {
    border: 1px solid grey;
    padding: 8px;
}

.row2{
    border:2px solid grey;
    display: flex;
    justify-content: space-between;
}

.box_a{
    min-height: 150px;
    background-color: orange;
    width: 30%;
}
.box_b{
    background-color: darkcyan;
    width: 30%;
}
.box_c{
    background-color: greenyellow;
    width: 30%;
}